body {
    margin: 0;
    padding: 0;
}

.iframe-container {
    width: 100vw;
}

iframe {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
}

iframe[title="YouTube video player" ] {
    height: 80vh;
}

iframe[title="weather-widget"] {
    height: 40vh;
}